#CreditHeader,#loginError{
            font-family: 'Raleway',sans-serif; font-size: 25px; font-weight: 800; line-height: 50px; text-align: center; text-transform: uppercase; align: center;
        }
#userNameLabel{
	            font-family: 'Raleway',sans-serif; font-size: 20px; font-weight: 800; line-height: 50px; text-align: center; align: center;

}
#loginBtn{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    font-size: 15px;
}

.login-page-not-signed-yet{
    padding: 8px 8px 8px 8px;
}

