.feed-wrapper{
    width: 600px;
}
.label{
    font-size: 20px;
    font-color: red;
}
.friends-wrapper{
    align-self: center;
}

.friends-table{
    width: 50%;

}

.friend-Row{
    width: 50%;
}

td {
    width: 50%;
}